@media screen and (max-width:700px) {
    header .wrapper{
        display: flex;
        flex-direction: column;
    }

    .botoes{
        display: flex;        
        flex-direction: column;
        width: 50%;
    }

    .botao{
        margin: 5px;
    }
}

@media screen and (max-width:596px) {
    .botoes{
        display: flex;        
        flex-direction: column;
        width: 65%;
    }
}

@media screen and (max-width:460px) {
    .botoes{
        display: flex;        
        flex-direction: column;
        width: 80%;
    }

    .botao:nth-child(2){
        margin-bottom: 50px;
    }

    .filme-principal .titulo{
        font-size: 30px;
    }
}

@media screen and (max-width:378px) {
    .filme-principal .titulo{
        font-size: 25px;
        padding-top: 15px;
    }

    .botoes{
        width: 90%;
    }

}
